<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.furui.ydfr.dao.IRightDao">
  <resultMap id="RightResultMap" type="com.furui.ydfr.entity.RightEntity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="right_name" jdbcType="VARCHAR" property="rightName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="enable" jdbcType="INTEGER" property="enable" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_id, right_name, description, create_time, update_time, enable
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="RightResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_right_td
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectUserRoleRight" resultType="java.lang.String">
   select 
       a.right_name
  from  
      t_right_td a 
  where    exists(select
                           b.id 
                      from
                         t_role_right_relation b right JOIN t_role_td c  on  b.role_id=c.id
                      where
                          a.id=b.right_id 
                      and  
                      c.name in
                      <foreach item="item" index="index" collection="param1" open="(" separator="," close=")"> 
                      #{item}
                      </foreach>  
                            )     
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_right_td
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.furui.ydfr.entity.RightEntity">
    insert into t_right_td (id, parent_id, right_name, 
      description, create_time, update_time, 
      enable)
    values (#{id,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{rightName,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{enable,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.furui.ydfr.entity.RightEntity">
    insert into t_right_td
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="rightName != null">
        right_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="enable != null">
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="rightName != null">
        #{rightName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.furui.ydfr.entity.RightEntity">
    update t_right_td
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="rightName != null">
        right_name = #{rightName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.furui.ydfr.entity.RightEntity">
    update t_right_td
    set parent_id = #{parentId,jdbcType=VARCHAR},
      right_name = #{rightName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      enable = #{enable,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>