<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:task="http://www.springframework.org/schema/task"
    xmlns="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/task 
       http://www.springframework.org/schema/task/spring-task.xsd">

    <context:component-scan base-package="com.furui.ydfr" />
    <aop:aspectj-autoproxy proxy-target-class="true" />
    <!--  <context:annotation-config/> 隐式地向 Spring容器注册 @标签对应的实体类   有context:component-scan 可以省略 -->
    <task:scheduled-tasks>
      <!--  <task:scheduled ref="quarztService" method="exportExeclData" cron="0 0 21 * * ?"/>-->
      <!-- <task:scheduled ref="quarztService" method="insertStatisticsRead" cron="0 0 23 * * ?"/>  -->
    </task:scheduled-tasks>

</beans>