<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://code.alibabatech.com/schema/dubbo 
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-4.0.xsd
	http://www.springframework.org/schema/task 
	http://www.springframework.org/schema/task/spring-task-4.0.xsd ">
	<!-- 加载表现层类（创建对象Controller） -->
	<context:component-scan base-package="com.furui.ydfr.controller"></context:component-scan>
	<!-- 注解驱动 -->
	<mvc:annotation-driven />
	<!-- 静态资源放行 不会因web.xml配置dispatch 找不到对应的controller 而报错 -->
	<mvc:default-servlet-handler />
	   <!-- html视图解析器 必须先配置freemarkerConfig,注意html是没有prefix前缀属性的  用html原因 是完成前后台分离-->
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">  
        <property name="templateLoaderPath">  
       <!--  **表示该路径下0个或多个目录文或者文件    /* 表示匹配0或多个字符比如/a/* 匹配/a/b 、 a/bc、 /a、 /a/bc.jsp -->
            <!-- <value>/WEB-INF/views</value> -->  
            <value>/html</value>   
        </property>
        <property name="defaultEncoding" value="UTF-8"></property>
    </bean>  
     <bean id="htmlviewResolver"  
        class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">  
        <property name="suffix" value=".html" /> 
        <property name="order" value="0"></property> 
        <property name="contentType" value="text/html;charset=UTF-8"></property>         
    </bean> 
    <!-- 文件上传表单的视图解析器 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>
		<!-- 在上传被拒绝之前设置允许的最大大小（字节） -->
		<property name="maxUploadSize" value="10485760000"></property>
		<!--最大内存大小 默认10240 -->
		<property name="maxInMemorySize" value="40960"></property>
	</bean> 
</beans>